* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.main_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../img/Expedition33.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login_contariner {
  backdrop-filter: blur(2px);
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
  padding: 30px;
  min-width: 400px;
}
h1 {
  color: rgb(197, 172, 142);
  text-align: center;
  margin: 20px;
}
.input_grup {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}
.input_grup > input {
  background-color: transparent;
  border-style: none;
}
.input_grup > svg {
  float: right;
  color: rgb(197, 172, 142);
}
::placeholder {
  color: black;
  opacity: 1;
}
.login_bottom {
  width: 90%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 40px;
  margin: 10px 0;
}
.dont_acount{
    display: block;
    text-align: center;
}

